In [47]:
import pandas as pd

In [48]:
df = pd.read_csv(r"D:\covid research\all\2020-04-en.csv")

In [49]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'created_at', 'id_str', 'text', 'user',
       'lang', 'favorite_count', 'retweet_count', 'quote_count', 'location',
       'country', 'day', 'hour', 'Anger', 'Anticipation', 'Disgust', 'Fear',
       'Joy', 'Sadness', 'Surprise', 'Trust', 'sentiment'],
      dtype='object')

In [50]:
import re
# string with letters, numbers, and special characters
s = "BuckyBarnes\r"
# keep only letters
res = re.sub(r'[^a-zA-Z]', '', s)
print(res)

BuckyBarnes

In [51]:
df.columns.str.replace(r'[^a-zA-Z_]*$', '', regex=True)

Index(['Unnamed', 'Unnamed', 'created_at', 'id_str', 'text', 'user', 'lang',
       'favorite_count', 'retweet_count', 'quote_count', 'location', 'country',
       'day', 'hour', 'Anger', 'Anticipation', 'Disgust', 'Fear', 'Joy',
       'Sadness', 'Surprise', 'Trust', 'sentiment'],
      dtype='object')

In [54]:
df.loc[df["id_str"]==1246323877636190208]

,Unnamed: 0.1,Unnamed: 0,created_at,id_str,text,user,lang,favorite_count,retweet_count,quote_count,...,hour,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust,sentiment
78582,78582,78582,2020-04-04 06-29-02,1246323877636190208,rt teamtrump insurance able receive coronaviru...,"{'id': 94282717, 'id_str': '94282717', 'name':...",en,0.0,0.0,0.0,...,6,0,1,0,2,0,2,0,1,4
106930,106930,106930,2020-04-04 06-29-02,1246323877636190208,rt teamtrump insurance able receive coronaviru...,"{'id': 94282717, 'id_str': '94282717', 'name':...",en,0.0,0.0,0.0,...,6,0,1,0,2,0,2,0,1,4